<style type="text/css">
    body {
        margin: 0 auto;
        padding: 0;
        font-family: Microsoft Yahei, Tahoma, Arial;
        color: #333333;
        background-color: #fff;
        font-size: 12px;
    }

    a {
        color: #00a2ca;
        line-height: 22px;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: #00a2ca;
    }

    td {
        font-family: 'Microsoft YaHei';
    }
</style>
<style type="text/css">
    style, script, head, link, meta {
        display: none !important;
    }
</style>


<div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only" style="">

    <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
           style="font-family:'Microsoft YaHei';">
        <tbody style="
    width: 800px;
">
        <tr>
            <td>
                <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" height="40">
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#8a0a02"
                       height="48" style="font-family:'Microsoft YaHei';">
                    <tbody>
                    <tr>
                        <td height="48" border="0" align="center" valign="middle" style="padding-left:20px;">
                            <a href="http://www.aliyun.com/?&amp;msctype=email&amp;mscareaid=cn&amp;mscsiteid=cn&amp;mscmsgid=2850119110502675499&amp;&amp;spm=a2c4k.12683236.zh-cnt.7&amp;v=q"
                               target="_blank" rel="noopener">
                                <img src="https://www.bmw810.net:8866/cl/tpl/bmw555/ver5/image/footer_logo.png"
                                     width="130" height="42">
                            </a>
                        </td>
                        <td width="703" height="48" colspan="2" align="right" valign="middle"
                            style="padding-right: 20px;"><span style="color: rgb(255, 255, 255);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span
                                style="color: rgb(255, 255, 0);"> &nbsp;</span><a
                                href="https://www.bmw808.net:9988/?aff=1100858" style=""> <span
                                style="color: rgb(255, 255, 255);">首页</span></a><span
                                style="color: rgb(255, 255, 255);">&nbsp;
                                        |
                                    &nbsp;</span><a href="https://www.bmw808.net:9988/?aff=1100858"
                                                    style="color: rgb(255, 255, 255);">视讯直播</a><span
                                style="color: rgb(255, 255, 255);">&nbsp;|
                                    &nbsp; </span><a href="https://www.bmw808.net:9988/?aff=1100858"
                                                     style="color: rgb(255, 255, 255);">电子游戏</a><span
                                style="color: rgb(255, 255, 255);">&nbsp;| </span><a
                                href="https://www.bmw808.net:9988/?aff=1100858"
                                style="color: rgb(255, 255, 255);">棋牌游戏</a><span style="color: rgb(255, 255, 255);">&nbsp;|
</span><a href="https://www.bmw808.net:9988/?aff=1100858" style="color: rgb(255, 255, 255);">体育赛事</a><span
                                style="color: rgb(255, 255, 255);">&nbsp; | </span><a
                                href="https://www.bmw808.net:9988/?aff=1100858"
                                style="color: rgb(255, 255, 255);">帮助中心</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="800" border="0" align="left" cellpadding="0" cellspacing="0"
                       style=" border:1px solid #edecec; border-top:none; border-bottom:none; padding:0 20px;font-size:14px;color:#333333;">
                    <tbody>
                    <tr>
                        <td width="760" height="56" border="0" align="left" colspan="2"
                            style=" font-size:16px;vertical-align:bottom;">
                            尊敬的 <span style="color: rgb(255, 0, 0);">用户</span><span
                                style="font-weight: bold;">&nbsp;</span>&nbsp;：
                        </td>
                    </tr>
                    <tr>
                        <td width="760" height="30" border="0" align="left" colspan="2">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="32" colspan="2" style="padding-left:40px;line-height:32px;"><h1
                                style=" font-size: 28px; margin: 0px; border: 0px; padding: 0px; line-height: 38px ; ; ; ">
                            <span style="color: rgb(25, 25, 25);">您的现金红包 </span><span
                                style="color: rgb(255, 0, 0);">28 </span><span
                                style="color: rgb(25, 25, 25);">已经到账！ </span></h1>&nbsp;请登录 <a
                                href="https://www.bmw808.net:9988/?aff=1100858">宝马会</a>&nbsp;立即领取。
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="32" colspan="2" style="padding-left:40px;">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="560" border="0" align="Center" valign="middle" cellpadding="0"
                                   cellspacing="0">
                                <tbody>
                                <tr border="0"
                                    style="height:35px;font-weight:bold; background-color:#EDEDED;width:720px;">
                                    <td border="0" align="Center" valign="middle"
                                        style="width:36%;padding-left:20px;font-size:12px;font-family:'Microsoft YaHei';">
                                        产品名称
                                    </td>
                                    <td border="0" align="Center" valign="middle"
                                        style="padding-left:20px;font-size:12px;font-family:'Microsoft YaHei';">
                                        操作
                                    </td>
                                </tr>
                                <tr style="background-color:#ffffff;">
                                    <td border="0" align="left" valign="middle"
                                        style="padding:20px 0 20px 20px;font-size:12px;font-family:'Microsoft YaHei';">
                                        <a href="https://www.bmw808.net:9988/?aff=1100858"><img
                                                src="http://www.fanglinhm.com/hb_28.png" modifysize="92%"
                                                diffpixels="22px" style="width: 204px; height: 258px;"></a><br><br></td>
                                    <td border="0" align="Center" valign="middle"
                                        style="padding:20px 0 20px 20px;color:#00a2ca;font-size:12px;font-family:'Microsoft YaHei';">
                                        <a href="https://www.bmw808.net:9988/?aff=1100858">点击领取！</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="32" colspan="2" style="padding-left:40px;">
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="32" colspan="2" style="padding-left:40px;">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="32" colspan="2" style="padding-left:40px;">
                            温馨提醒：
                            <br>* 新会员注册就送：<span style=""><span style="font-weight: bolder;"><span
                                style="font-size: small;">28元红包大礼！</span></span></span><br>
                            * 新会员自注册之日起30天内，使用APP投注总额≥1000元，存款总次数≥3次，验证手机号无误后，即可领取18元新人红包（18元新人红包完成1倍流水即可提款，无提款上限）。
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="32" colspan="2" style="padding-left:40px;">
                            * 注册30天以上的APP端会员，7天内存款次数≥5次，即可参与APP专属挑战活动：<span style=""><span style="font-weight: bolder;"><span
                                style="font-size: small;">单笔存款200元，完成18倍流水（200x18=3600）后，即可领取28元彩金，彩金只需1倍流水即可提款。</span></span></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="32" colspan="2" style="padding-left:40px;">
                            * 注册30天以上的APP端会员，每月使用APP投注的总流水≥50000元，可享受1次商城优惠活动，兑换任意物品可减免100积分。<br>*
                            以1周时间为限，每周连续签到7天：<span style=""><span style="font-weight: bolder;"><span
                                style="font-size: small;">共计可领取280签到积分（可兑换28元签到筹码）28元签到筹码只需1倍流水即可提款，最高提款金额为158元</span></span></span><br><br>
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="14" colspan="2"
                            style="padding-bottom:16px; border-bottom:1px dashed #e5e5e5;font-family:'Microsoft YaHei';">
                            宝马会娱乐有限公司
                        </td>
                    </tr>
                    <tr>
                        <td width="720" height="14" colspan="2"
                            style="padding:8px 0 28px;color:#999999; font-size:12px;font-family:'Microsoft YaHei';">
                            此为系统邮件请勿回复
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" width="800px" bgcolor="#4d4c4a">
                    <tbody>
                    <tr>
                        <td>
                            <p style="line-height: 22px;font-family: 'Microsoft YaHei';font-size: 12px;color: #999;text-align: center;margin-bottom: 0px;">
                                如果您不想再接收宝马会的「产品的创建、开通信息通知」邮件，或者需要设置其他人接收，点此 <a
                                    href="https://www.bmw808.net:9988/?aff=1100858">取消订阅</a></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://www.fanglinhm.com/footer.jpg" style="width: 800px;">
            </td>
        </tr>


        </tbody>
    </table>

</div>